[submodule "CoolWeatherAPP"]
	path = CoolWeatherAPP
	url = https://github.com/martapg15/DAM_CoolWeatherApp
[submodule "Kotlin_exercises"]
	path = Kotlin_exercises
	url = https://github.com/martapg15/DAM_Kotlin_exercises
[submodule "MIP2_V1"]
	path = MIP2_V1
	url = https://github.com/martapg15/DAM_MIP2_V1
